db.sqlite3
geckodriver.log
virtualenv
*.pyc
.idea
__pycache__
/static
Pipfile
.env
instructions.txt
mysqlclient-1.3.13-cp27-cp27m-win_amd64.whl
mysqlclient-1.3.13-cp27-cp27m-win32.whl
keys.py
porole.txt
assortment.csv