.images-home {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.images-home > .wrapper {
    width: 30%;
}

.images-home img {
    width: 100%;
    border: 3px solid #FDF6F0;
    border-radius: 5px;
    box-sizing: border-box;
    transition: 0.3s;
    cursor: pointer;
}

.images-home img:hover {
    border-color: #314c1f;
}

.image-info {
    font-size: 0.9em;
    font-style: italic;
    text-align: center;
    opacity: 0.8;
}

.clip {
    width: 50%;
    margin: 0 auto;
}

.clip > a {
    display: block;
}

.clip img, .clip video {
    width: 100%;
    border: 3px solid #FDF6F0;
    border-radius: 5px;
    box-sizing: border-box;
    transition: 0.3s;
}

.clip img:hover, .clip video:hover {
    border-color: #314c1f;
}