@font-face {
    font-family: MarketDeco;
    src: url(../fonts/market_deco_new.ttf);
}

@font-face {
    font-family: AncientKyiv;
    src: url(../fonts/ancient_kyiv.otf);
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #D1BEA9;
}

#content {
    width: 80%;
    margin: 0 auto;
    padding: 0.1px; /* escape margin collapsing */
    background-color: #B49B7F;
}

#main {
    width: 95%;
    margin: 0 auto;
}

#main.textpage {
    width: 85%;
    margin: 3% auto;
    color: #FDF6F0;
}

#main.textpage p {
    font-size: 1.1em;
}

#main.textpage a {
    color: #FDF6F0;
    text-decoration: none;
}

input[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#top-area {
    display: flex;
    justify-content: space-around;
    margin-left: 38px;
}

#gift-banner {
    width: 50%;
    text-align: center;
    background-color: #D1BEA9;
    overflow: hidden;
    border: 1px solid;
    border-radius: 5px;
    border-color: rgba(255,255,255,0);
    transition: 0.3s;
}

#gift-banner:hover {
    border-color: rgba(255,255,255,1)
}

#gift-banner a {
    display: block;
    height: 70px;
    line-height: 70px;
    text-decoration: none;
    font-size: 50px;
    color: #FFFFFF;
    font-family: AncientKyiv;
    text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

#gift-banner img {
    width: 100%;
    height: 110px;
}

#search-area {
    width: 40%;
    margin-left: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-area input {
    height: 25px;
    box-sizing: border-box;
}

#search-area .search-input-container {
    position: relative;
}

#search-area .search-btn {
    height: 25px;
    width: 65px;
    line-height: 25px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    background-color: #5B4D41;
    color: #FDF6F0;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

#search-link {
    width: 100%;
    height: 100%;
    color: inherit;
    text-decoration: none;
    text-align: center;
}

#search-result-instant {
    display: none;
    width: 350px;
    padding: 10px;
    position: absolute;
    top: 30px;
    background-color: #5B4D41;
    color: #FDF6F0;
    border-radius: 5px;
    border: 2px solid #FFF;
}

.search-head {
    width: 85%;
    margin: 0 auto;
    color: #FDF6F0;
    font-size: 20px;
}

.instant-item-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.instant-item-pic {
    width: 100px;
    height: 100px;
}

.instant-item-pic img {
    width: 100%;
    height: 100%;
}

.instant-item-info {
    width: 240px;
}

.instant-item-title {
    font-weight: 700;
}

.instant-item-title a {
    color: inherit;
    text-decoration: none;
}

.instant-item-desc {
    font-size: 13px;
}

/* modals */

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0,0,0,0.4);
    text-align: center;
}

.modal-body {
    display: inline-block;
    position: relative;
    margin: 2.5% auto;
    max-width: 80%;
    height: 90%;
    border: 5px solid #5B4D41;
    border-radius: 5px;
    background-color: #B49B7F;
}

#img-modal img {
    width: 100%;
    height: 100%;
    background-color: #FDF6F0;
}

#catalog-modal {
    overflow: auto;
}

#catalog-modal .modal-body {
    height: auto;
    min-width: 80%;
}

#catalog-modal-main {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.close-modal{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #FDF6F0;
    color: #5B4D41;
    font-weight: 700;
    cursor: pointer;
}

.close-modal:before{
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    border: 3px solid #5B4D41;
    border-radius: 50%;
}

.close-modal-outside {
    position: fixed;
    top: 30px;
    right: 40px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #FDF6F0;
    color: #5B4D41;
    font-weight: 700;
    font-size: 25px;
    cursor: pointer;
}

.close-modal-outside::before {
    content: "";
    position: fixed;
    width: 45px;
    height: 45px;
    border: 3px solid #5B4D41;
    border-radius: 50%;
}

#order-call-modal {
    position: fixed;
    height: 160px;
    box-sizing: border-box;
    bottom: 30px;
    left: 30px;
    padding: 15px 25px 15px 15px;
    background-color: #5B4D41;
    border: 3px solid #FDF6F0;
    border-radius: 5px;
    color: #FDF6F0;
}

#order-call-content {
    display: none;
}

.order-call-title {
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
}

.order-call-input-wrap {
    display: flex;
    justify-content: space-between;
    margin: 5px auto;
}

.order-call-input-wrap > span {
    margin-right: 15px;
}


.order-call-input {
    display: inline-block;
}

.order-call-input > input {
    width: 160px;
}

.order-call-submit {
    display: block;
    margin: 10px auto 0 auto;
}

#order-call-triangle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 20px;
    border-color: transparent transparent transparent #ffffff;
    cursor: pointer;
}