@font-face {
    font-family: MarketDeco;
    src: url(../fonts/market_deco_new.ttf);
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #D1BEA9;
}

#content {
    width: 80%;
    margin: 0 auto 0 auto;
    padding: 0.1px; /* escape margin collapsing */
    background-color: #B49B7F;
}

input[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
