<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="keywords" content="подарок, сувенир, береста, шоколад">
        <meta name="description" content="Оригинальный русский сувенир">
        <!--meta name="viewport" content="width=device-width, initial-scale=1"-->
        {% if redesign %}
            <title>Русский Стиль</title>
        {% else %}
            <title>Русский Сувенир</title>
        {% endif %}

        {% load static %}

        <link rel="stylesheet" type="text/css" href="{% static 'choco/css/normalize.css' %}">

        {% if redesign %}
            <link rel="stylesheet" type="text/css" href="{% static 'choco/css/main.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'choco/css/header.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'choco/css/sidecart.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'choco/css/catalog.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'choco/css/cart.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'choco/css/details.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'choco/css/forms.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'choco/css/home.css' %}"> 
            <link rel="stylesheet" type="text/css" href="{% static 'choco/css/gift.css' %}">
        {% else %}
            <link rel="stylesheet" type="text/css" href="{% static 'choco/css/old/main.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'choco/css/old/header.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'choco/css/old/sidecart.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'choco/css/old/catalog.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'choco/css/old/cart.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'choco/css/old/details.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'choco/css/old/forms.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'choco/css/old/home.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'choco/css/old/gift.css' %}">
        {% endif %}

        <script src="{% static 'choco/jquery/jquery-3.1.1.min.js' %}"></script>
        <script src="{% static 'choco/js/polyfill.js' %}"></script>
        <script src="{% static 'choco/js/cart.js' %}"></script>
        <script src="{% static 'choco/js/sidecart.js' %}"></script>
        <script src="{% static 'choco/js/gallery.js' %}"></script>
        <script src="{% static 'choco/js/contact.js' %}"></script>
        <script src="{% static 'choco/js/search.js' %}"></script>

		{% block styles %}
        {% endblock %}
    </head>

	{% load rupluralize_filter %}
    {% load staticfiles %}

    <body>
        {% csrf_token %}
        <div id="content">
            <div class="header">
                {% if redesign %}
                <div class="logo">Русский с<div class="t">т</div>иль</div>
                {% else %}
                <div class="logo">Русский сувенир</div>
                {% endif %}
                <div class="header-menu">
                    <div><a href="{% url 'choco:home' %}">Главная</a></div>
                    <div><a href="{% url 'choco:catalog_choco' %}">Из шоколада</a></div>
                    <div><a href="javascript:void(0)">Из бересты</a>
                        <div class="subcategory-selection">
                            <a href="{% url 'choco:catalog_beresta' 1 %}">Кружки</a>
                            <a href="{% url 'choco:catalog_beresta' 2 %}">Тарелки</a>
                            <a href="{% url 'choco:catalog_beresta' 3 %}">Туеса</a>
                            <a href="{% url 'choco:catalog_beresta' 10 %}">Батонницы</a>
                            <a href="{% url 'choco:catalog_beresta' 4 %}">Хлебницы</a>
                            <a href="{% url 'choco:catalog_beresta' 12 %}">Сухарницы</a>
                            <a href="{% url 'choco:catalog_beresta' 5 %}">Фляжки</a>
                            <a href="{% url 'choco:catalog_beresta' 6 %}">Шкатулки</a>
                            <a href="{% url 'choco:catalog_beresta' 11 %}">Бочонки</a>
                            <a href="{% url 'choco:catalog_beresta' 7 %}">Расчёски</a>
                            <a href="{% url 'choco:catalog_beresta' 8 %}">Заколки</a>
                            <a href="{% url 'choco:catalog_beresta' 9 %}">Прочее</a>
                        </div>
                    </div>
                    <div><a href="{% url 'choco:catalog_wood' %}">Из дерева</a></div>
                    <div><a href="{% url 'choco:contacts' %}">Контакты</a></div>
                    <div><a id="open-cart" href="#">
                        {% if redesign %}
                            <img class="shopping-cart" src="{% static 'choco/images/shopping-cart.svg' %}">
                        {% else %}
                            <img class="shopping-cart" src="{% static 'choco/images/shopping-cart-old.svg' %}">
                        {% endif %}
                        <span class="cart-fill" id="total-items">
                        {% with total_items=cart|length %}
                            {% if cart|length > 0 %}
                                    {{ total_items }}
                                {% else %}
                                    0
                            {% endif %}
                        {% endwith %}
						</span>
                    </a></div>
                </div>
                <hr>
            </div>

            <div id="side-cart">
                <div class="cart-top">
                    <a id="close-cart" href="javascript:void(0)">✕</a>
                    <div class="cart-title">Корзина</div>
                    <div class="placeholder"></div>
                </div>
                <div class="cart-content-container">
                    <div class="cart-content" id="cart-content">
                        {% if cart|length < 1 %}
                            <div class="cart-empty">Корзина пуста!</div>
                        {% else %}
                            {% for item in cart %}
                                {% with product=item.product %}
                                    <div class="cart-item" id="sidecart-item-{{item.product.id}}-{{item.configuration}}">
                                        <div class="wrapper">
                                            <div class="cart-item-image">
                                                {% if not product.choco_pic %}
                                                    <img src="{% static 'choco/choco_pics/default.png' %}"/>
                                                {% else %}
                                                    {% if redesign and 'tn' in product.choco_pic %}
                                                        {% with "choco/choco_pics/"|add:product.choco_dir|add:"/new_"|add:product.choco_pic as main_pic %}
                                                            <img src="{% static main_pic %}"/>
                                                        {% endwith %}
                                                    {% else %}
                                                        {% with "choco/choco_pics/"|add:product.choco_dir|add:"/"|add:product.choco_pic as main_pic %}
                                                            <img src="{% static main_pic %}"/>
                                                        {% endwith %}
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                            <div class="cart-item-info">
                                                <div>{{ product.choco_name }}</div>
                                                {% with configuration=item.conf_object %}
                                                    {% if configuration.weight %}
                                                        <div>Вес: {{ configuration.weight }} г</div>
                                                    {% endif %}
                                                {% endwith %}
                                                <div id="sidecart-quantity-{{item.product.id}}-{{item.configuration}}">Количество: <span class="sidecart-item-quantity">{{ item.quantity }}</span></div>
                                                <div>Цена: <span class="sidecart-item-total">{{ item.total_price }}</span> RUB</div>
                                            </div>
                                            <div class="delete-cross-wrap">
                                                <form class="cart-remove-item sidecart" action="" method="post">
                                                    {% csrf_token %}
                                                    <input type="hidden" class="choco-pk" value="{{ product.id }}">
                                                    <input type="hidden" class="config-pk" value="{{ item.configuration }}">
                                                    <input type="submit" value="✕">
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                {% endwith %}
                            {% endfor %}
                        {% endif %}
                    </div>
                    {% if cart|length > 0 %}
                        <div class="sidecart-total">Общая стоимость: <span id="sidecart-total-num">{{ cart.get_total_price|floatformat:"-1" }}</span>р</div>
                    {% endif %}
                </div>
                <div class="sidecart-btn">
                    <a href="{% url 'choco:cart' %}">Перейти в корзину</a>
                </div>
            </div>
            {% block content %}
            {% endblock %}
        </div>

        <div id="order-call-modal">
            <div id="order-call-content">
                <div class="order-call-title">Заказать звонок</div>
                <form id="contact-form" method="post" action="">
                    {% csrf_token %}
                    <div class="order-call-input-wrap">
                        <span>Ваше имя</span>
                        <div class="order-call-input">{{ contact_form.name }}</div>
                    </div>
                    <div class="order-call-input-wrap">
                        <span>Ваш номер</span>
                        <div class="order-call-input">{{ contact_form.phone }}</div>
                    </div>
                    <input type="submit" value="Заказать" class="order-call-submit">
                </form>
            </div>
            <div id="order-call-triangle"></div>
        </div>

        <div class="modal" id="img-modal">
            <div class="modal-body">
                <div class="close-modal">✕</div>
                <img src="">         
            </div>
        </div>

        <div class="modal" id="catalog-modal">
            <div class="modal-body">
                <div id="catalog-modal-main">

                </div>
            </div>
            <div class="close-modal-outside">✕</div>
        </div>
    </body>
</html>
