<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Hello Lyonya!</title>

        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'choco/css/main.css' %}">
    </head>

    <body>
        <div class="header"><p class="test">dat me, upper hook</p></div>
        {% block content %}
        {% endblock %}
        <div class="footer"><p class="test">dat me, bottom hook</p></div>
    </body>
</html>