<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Hello Lyonya!</title>

        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'choco/css/main.css' %}">

        <script src="/static/js/test.js"></script>
    </head>

    <body>
        <div class="header test">
            <a href="{% url 'choco:home' %}">Home</a>
            <a href="{% url 'choco:catalog' %}">Catalog</a>
            <a href="{% url 'choco:about' %}">About</a>
            <a href="{% url 'choco:contacts' %}">Contacts</a>
            <a href="{% url 'choco:cart' %}">Cart {{ cart_quantity }}</a>
        </div>
        {% block content %}
        {% endblock %}
        <div class="footer"><p class="test">dat me, bottom hook</p></div>
    </body>
</html>
