<!-- эта строка для отображения изображений из папки static -->
{% load staticfiles %}
{% load static %}


{% for item in cart %}
    {% with product=item.product %}
        <tr id="product-{{ product.id }}">
            <td>
                {% if not product.choco_pic %}
                    <img src="{% static 'choco/choco_pics/default.png' %}"/>
                {% else %}
                    {% with "choco/choco_pics/"|add:product.choco_dir|add:"/"|add:product.choco_pic as main_pic %}
                        <img src="{% static main_pic %}"/>
                    {% endwith %}
                {% endif %}
            </td>
            <td class="title">
                <span>{{ product.choco_name }}</span><br>
                {% with configuration=item.conf_object %}
                <span>
                    Размер упаковки: {{ configuration.choco_size }}
                    Вес: {{ configuration.choco_weight }}
                    Штук в упаковке: {{ configuration.choco_quantity_in_box }}
                </span>
                {% endwith %}
            </td>
            <td class="amount">
                <form action="{% url 'choco:cart_add_conf' choco_pk=product.id config_pk=item.configuration %}" method="post" class="cart-add-form">
                    {% csrf_token %}

                    <label class="quantity">
                        {{ item.update_quantity_form.quantity }}
                        <a href="#" class="quantity-up"></a>
                        <a href="#" class="quantity-down"></a>
                    </label>

                    {{ item.update_quantity_form.update }}
                    <input style="display: none" type="submit" value="Обновить">
                </form>
            </td>
            <td>{{ product.choco_price }} RUB</td>
            <td>{{ item.total_price }} RUB</td>
            <td class="delete">
                <div class="delete-cross-wrap">
                    <form class="cart-remove-item" action="" method="post">
                        {% csrf_token %}
                        <input type="hidden" class="choco-pk" value="{{ product.id }}">
                        <input type="hidden" class="config-pk" value="{{ item.configuration }}">
                        <input type="submit" value="✕">
                        <!--a id="cart-remove-item-submit" href="" class="">✕</a-->
                    </form>
                </div>
            </td>
        </tr>
    {% endwith %}
{% endfor %}
