{% extends 'base.html' %}

<!-- эта строка для отображения изображений из папки static -->
{% load staticfiles %}

{% block content %}
    <table id="choco_table">
        {% if chocos|length < 1 %}
            <p>Сейчас ассортимент пуст. Заходите позже!</p>
        {% else %}
            {% for item in chocos %}
                <tr><td>
                    <img src="{% static item.choco_pic %}"/>
                    <a href="{{ item.get_absolute_url }}">{{ item.choco_name }}</a>: - {{ item.choco_price }} RUB
                </td></tr>
            {% endfor %}
        {% endif %}
    </table>

    <div class="pagination">
        <span class="step-links">
            {% if chocos.has_previous %}
                <a href="?page={{ chocos.previous_page_number }}">Назад</a>
            {% endif %}

            {% if chocos.has_next %}
                <a href="?page={{ chocos.next_page_number }}">Вперед</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
