{% extends 'base.html' %}

<!-- эта строка для отображения изображений из папки static -->
{% load staticfiles %}

{% block content %}
    <div id="assortment">
        {% if chocos|length < 1 %}
            <p>Сейчас ассортимент пуст. Заходите позже!</p>
        {% else %}
            {% for item in chocos %}
                <div class="item-wrap">
                    <a href="{{ item.get_absolute_url }}">
                        <img src="{% static item.choco_pic %}"/>
                        <div class="item-info">
                            <a href="{{ item.get_absolute_url }}"><p>{{ item.choco_name }}</p></a>
                            <p>{{ item.choco_price }} RUB</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="pagination">
        <span class="step-links">
            {% if chocos.has_previous %}
                <a href="?page={{ chocos.previous_page_number }}">Назад</a>
            {% endif %}

            {% if chocos.has_next %}
                <a href="?page={{ chocos.next_page_number }}">Вперед</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
