{% extends 'base.html' %}

<!-- эта строка для отображения изображений из папки static -->
{% load staticfiles %}

{% block styles %}
	<link rel="stylesheet" type="text/css" href="{% static 'choco/css/catalog.css' %}">
{% endblock %}

{% block content %}
    <div id="assortment">
        {% if chocos|length < 1 %}
            <p>Сейчас ассортимент пуст. Заходите позже!</p>
        {% else %}
            {% for item in chocos %}
                <div class="item-wrap">
                    <div class="item-image">
                        {% if not item.choco_pic %}
                            <img src="{% static 'choco/choco_pics/default.png' %}"/>
                        {% else %}
                            {% with "choco/choco_pics/"|add:item.choco_dir|add:"/"|add:item.choco_pic as main_pic %}
                                <img src="{% static main_pic %}"/>
                            {% endwith %}
                        {% endif %}
                    </div>
                    <div class="item-info">
                        <a href="{{ item.get_absolute_url }}"><strong>{{ item.choco_name }}</strong></a>
                        <span class="price">{{ item.choco_price }} RUB</span>
                    </div>
                    
                    <form action="{% url 'choco:cart_add' item.id %}" method="post" class="cart-add-form">
                        {% csrf_token %}
                        <div class="placeholder"></div>
                        <label class="quantity">
                            {{ cart_form.quantity }}
                            <a href="#" class="quantity-up"></a>
                            <a href="#" class="quantity-down"></a>
                        </label>
                        {{ cart_form.update }}
                        <input type="submit" value="Добавить в корзину">
                        <div class="placeholder"></div>
                    </form>
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="pagination">
            {% if chocos.has_previous %}
                <div class="button-container long">
                    <a href="?page={{ chocos.previous_page_number }}">Назад</a>
                </div>
            {% endif %}
            {% for pg in chocos.paginator.page_range %}
                {% if chocos.number == pg %}
                <div class="button-container active">
                    <a href="?page={{ pg }}">{{ pg }}</a>
                </div>
                {% else %}
                <div class="button-container">
                    <a href="?page={{ pg }}">{{ pg }}</a>
                </div>
                {% endif %}
            {% endfor %}
            {% if chocos.has_next %}
                <div class="button-container long">
                    <a href="?page={{ chocos.next_page_number }}">Вперед</a>
                </div>
            {% endif %}
    </div>
{% endblock %}
