{% extends 'base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'choco/css/ajax_waiting.css' %}">
    <script src="{% static 'choco/js/contact.js' %}"></script>
{% endblock %}

<!-- эта строка для отображения изображений из папки static -->
{% load staticfiles %}

{% block content %}
    <div id="main" class="textpage">
        <p>
            <strong>Адрес офиса:</strong><br>
            ул. Плеханова, д.17, оф.612, тел. 8-963-668-13-72
        </p>
        <p>
            <strong>chocosuvenir@yandex.ru</strong>
        </p>
        <p>
            <strong>Адрес магазина:</strong><br>
            Зелёный проспект, д 3а с1, 1-й этаж, тел. 8-968-750-72-37
        </p>

        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Add2e8f4a9d1e80be1f363ccaec4013117912ecd6ba1ddb25c87e384231050a4a&amp;width=692&amp;height=458&amp;lang=ru_RU&amp;scroll=true"></script>
        
    <!--
    <form id="contact-form" method="post" action="" class="standart-form">
        {% csrf_token %}

        <div class="input-container">
            <div class="input-name required">Имя:</div>
            <div class="input-area required">{{ contact_form.name }}</div>
        </div>
        <div class="input-container">
            <div class="input-name required">E-mail:</div>
            <div class="input-area required">{{ contact_form.email }}</div>
        </div>
        <div class="input-container">
            <div class="input-name">Тема сообщения:</div>
            <div class="input-area">{{ contact_form.subject }}</div>
        </div>
        <div class="input-container">
            <div class="input-name required">Текст сообщения:</div>
            <div class="input-area required">{{ contact_form.message }}</div>
        </div>
        <div>
            {% if contact_form.errors %}
                {% for field in contact_form %}
                    {% for error in field.errors %}
                        <div>
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in contact_form.non_field_errors %}
                    <div>
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <input type="submit" value="Подтвердить">
    </form>
    -->
    </div>
{% endblock %}
