{% extends 'base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'choco/css/ajax_waiting.css' %}">
    <script src="{% static 'choco/js/contact.js' %}"></script>
{% endblock %}

<!-- эта строка для отображения изображений из папки static -->
{% load staticfiles %}

{% block content %}
    <form id="contact-form" method="post" action="" class="standart-form">
        {% csrf_token %}

        <div class="input-container">
            <div class="input-name required">Имя:</div>
            <div class="input-area required">{{ contact_form.name }}</div>
        </div>
        <div class="input-container">
            <div class="input-name required">E-mail:</div>
            <div class="input-area required">{{ contact_form.email }}</div>
        </div>
        <div class="input-container">
            <div class="input-name">Тема сообщения:</div>
            <div class="input-area">{{ contact_form.subject }}</div>
        </div>
        <div class="input-container">
            <div class="input-name required">Текст сообщения:</div>
            <div class="input-area required">{{ contact_form.message }}</div>
        </div>
        <div>
            {% if contact_form.errors %}
                {% for field in contact_form %}
                    {% for error in field.errors %}
                        <div>
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in contact_form.non_field_errors %}
                    <div>
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <input type="submit" value="Подтвердить">
    </form>
{% endblock %}
