{% extends 'base.html' %}

{% block styles %}
{% endblock %}

<!-- эта строка для отображения изображений из папки static -->
{% load staticfiles %}

{% block content %}
    <div id="main">
        <div id="details">
            <div id="gallery">
                {% if gallery.1 %}
                    <div id="gallery-selection">
                        {% for photo in gallery %}
                            <div class="gallery-small">
                                <img src="{% static photo %}">
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                <div id="gallery-main">
                    <img src="{% static gallery.0 %}">
                </div>
                <!--div class="help-message">Нажмите на изображение, чтобы увеличить</div-->
            </div>
            <div class="item-info">
                <div class="title">{{ item.choco_name }}</div>
                <div class="price">Цена: {{ item.choco_price }} RUB</div>
                <form action="" method="post" class="cart-add-form">
                    {% csrf_token %}

                    {% if config_types_quantity > 1 %}
                        <span class="config-pk">{{ cart_form.configuration }}</span>
                        {{ cart_form.configuration.errors }}
                    {% else %}
                        <div class="additional-info">
                            Размер упаковки: {{ first_choco_config.choco_size }} <br/>
                            Вес: {{ first_choco_config.choco_weight }} <br/>
                            Шт. в упаковке: {{ first_choco_config.choco_quantity_in_box }}
                        </div>
                    {% endif %}

                    <label class="quantity">
                        {{ cart_form.quantity }}
                        <a href="#" class="quantity-up"></a>
                        <a href="#" class="quantity-down"></a>
                    </label>

                    {{ cart_form.update }}
                    {{ cart_form.update.errors }}

                    <input type="hidden" class="choco-pk" value="{{ item.id }}">
                    <input type="submit" value="Добавить в корзину">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
