{% extends 'base.html' %}

{% block styles %}
{% endblock %}

<!-- эта строка для отображения изображений из папки static -->
{% load staticfiles %}

{% block content %}
    <p>{{ item.choco_name }}</p>
    <p>Цена: {{ item.choco_price }}</p>
    <div>
        {% for photo in gallery %}
            <img src="{% static photo %}" width="500" height="500"></img>
        {% endfor %}
    </div>
	<form action="{% url 'choco:cart_add_conf' choco_pk=item.id %}" method="post">
        {% csrf_token %}

        {{ cart_form.quantity }}
        {{ cart_form.quantity.errors }}

        {{ cart_form.configuration }}
        {{ cart_form.configuration.errors }}

        {{ cart_form.update }}
        {{ cart_form.update.errors }}
        <input type="submit" value="Добавить в корзину">
    </form>
{% endblock %}
