{% extends 'base.html' %}

{% block styles %}
{% endblock %}

<!-- эта строка для отображения изображений из папки static -->
{% load staticfiles %}

{% block content %}
    <div id="gift-banner">
        <a href="{% url 'choco:gift'%}">
            Собрать подарочный набор
            <!--img src="{% static 'choco/images/gift_banner2.png'%}"-->
        </a>
    </div>
    <hr>
    <div id="main" class="textpage">
        <p>
            Мы рады предложить Вам уникальную продукцию – высококачественный шоколад, отлитый в форму предметов быта и стилизованный  мастерами под «винтаж».
            В процессе производства используется натуральный шоколад, отборный какао-порошок и пищевые красители нового поколения. 
            Мы упаковываем нашу продукцию в стильные коробки, полностью сделанные из дерева и герметично запаянные термоусадочной пленкой.
        </p>
        <div class="images-home">
            <div class="wrapper">
                <img class="img-zoomable" src="{% static 'choco/images/home1.jpg' %}">
                <div class="image-info">Нажмите, чтобы увеличить</div>
            </div>
            <div class="wrapper">
                <img class="img-zoomable" src="{% static 'choco/images/home2.jpg' %}">
                <div class="image-info">Нажмите, чтобы увеличить</div>
            </div>
            <div class="wrapper">
                <img class="img-zoomable" src="{% static 'choco/images/home3.jpg' %}">
                <div class="image-info">Нажмите, чтобы увеличить</div>
            </div>
        </div>
        <p>
            Мы рады предложить также изделия из бересты. Береста – уникальный природный материал, сочетающий в себе массу положительных свойств: лёгкость, гибкость, прочность, легко поддаётся обработке, обладает лечебными свойствами. В холодное время года береста или изделие из неё всегда остаётся тёплым, благодаря своим положительным свойствам. Всё, что берёза отдаёт человеку: кору, сок, почки, листья, молодые веточки, чагу, дёготь - наши предки использовали в медицинских целях.
            Береста заготавливается весной – после того как закончится сбор берёзового сока и на дереве появится молодая листва. С одного взрослого дерева берётся не более полутора метров коры, чтобы не дать дереву погибнуть. Вся свежая кора аккуратно укладывается в тюки. После того как береста просохнет, мастера изготавливают из неё различные изделия: посуду, туеса, короба, шкатулки. Известно, что в туесе из бересты не киснет молоко, квас в тёплое время всегда остаётся холодным, в хлебницах хлеб не плесневеет. Крестьяне использовали бересту в качестве одежды, делали лапти, головные уборы, изготавливали коврики для избы, использовали для написания грамот, при строительстве домов.
        </p>
        <div class="clip">
            <video controls poster="{% static 'choco/images/clip.png' %}">
                <source src="{% static 'choco/images/clip.mp4' %}"
                        type="video/mp4">
            </video>
        </div>
    </div>
{% endblock %}
